.App, body {
  text-align: center;
}

body {
  background-color: #e0e0e0 !important;
}

.App-header {
 height: 100%;
 padding: 20px;
 color: white;
}

.App-header h1 {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  color: #222;
}

button {
  background-color: #1F95DA;
  border: none;
  box-shadow: none;
  padding: 5px 55px;
  color: #fff;
  border-radius: 5px !important;
}
button:focus {
  outline: none;
}

.github-link {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.github-link a {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}
.fa-heart {
  color: red;
}
img {
  width: 250px;
  height: 250px;
  display: block;
  text-align: center;
  margin: 30px auto;
}